.home-title{
    margin-top: 5rem;
    font-size: 3.2rem;
    letter-spacing: 1rem;
}
.category-title{
    margin-top: 3rem;
    font-size: 1.5rem;
}
.category-list{
    margin-top: 3rem;
    gap: 1rem;
}
.category-items{
    border: 1px solid var(--pale-blue);
    background-color: var(--jean-blue);
    /* margin: 2rem; */
    width: 150px;
    box-shadow: 4px 4px 3px var(--mid-grey);
    padding: 15px 25px;
    text-align: center;
    border-radius: 12px;
    min-height: 90px;
    min-width: 120px;
}
.category-items a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.category-items:hover{
    box-shadow: 0px 0px;
    transition: box-shdadow 0.15s linear 0s;
}
